<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>35D7A2EE1C0FE82E007D7679</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35D7A3201C0FE851007D7679</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35FF7A3C1CF8325A000A70EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35FF7B1F1CF83264000A70EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4402E051C5A165700E7D3DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4402E131C5A16A700E7D3DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F45E6A331C8D7D1100BD0859</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
